
html{
    scroll-behavior: smooth;
}

body{
    font-size: 0;
    background: black;
    color: #fff;
}
.description{
    font-family:'Courier New', Courier, monospace;
    background: black;
}

.gallery{
    display: inline-block;
    border : 1px solid hsl(0, 0%, 60%);
    margin: 70px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    text-align: center;
}
.gallery .description{
    padding: 20px;
    text-align: center;
    
}
.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%)
}
.gallery img{
    width: 100%;
    height: auto;
}

